html {
  scroll-behavior: smooth;
}

* {
  color: var(--color-white);
}

body {
  background-image: linear-gradient(90deg, #0d0f12, #0d1220, #0d0f12);
  padding-inline: 2rem;
  @media screen and (max-width: 500px) {
    padding-inline: 1rem;
  }
}

.button {
  background-color: transparent;
  border: 3px solid var(--color-accent-yellow);
  color: var(--color-accent-yellow);
  padding: 1rem 3rem;
  border-radius: 16px;
  line-height: 1;
  cursor: pointer;
  transition-property: background-color color;
  transition-duration: var(--time-hover);
  transition-timing-function: ease;
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-accent-yellow);
  color: var(--color-black);
}

.mtop-1 {
  margin-top: 0.5rem;
}

header {
  padding-top: 2rem;
  padding-bottom: var(--section-padding-bottom);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  @media screen and (max-width: 720px) {
    padding-top: 2rem;
    gap: 2rem;
    & > nav {
      order: 1;
      padding-block: 4rem;
    }
  }

  ul {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: 1rem;
    font-size: 1.75rem;
    line-height: 0.85;
    padding: 0;
    list-style: none;

    @media screen and (max-width: 720px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .navlink {
    padding: 0 min(2rem, 1.5vw);
    padding-inline: min(2rem, 1.5vw);
    flex-shrink: 0;
    color: var(--color-off-white);
    text-decoration: none;
    --glow: rgba(255 255 255 / 0.3);
    transition-property: text-shadow filter;
    transition-timing-function: ease;
    transition-duration: 1000ms;

    &:hover {
      transition-duration: 150ms;
      text-shadow: 0 0 24px var(--glow);
      filter: brightness(2);
    }
  }

  .socials {
    padding: 0 min(2rem, 1.5vw);
    padding-inline: min(2rem, 1.5vw);
    padding-top: 0.25rem;
  }
}

.socials {
  display: flex;
  gap: 0.375rem;

  @media screen and (max-width: 720px) {
    img {
      width: 32px;
    }
  }

  a {
    border-radius: 8px;
    --glow: rgba(255 255 255 / 0.3);
    transition-property: box-shadow filter;
    transition-timing-function: ease;
    transition-duration: 1000ms;

    &:hover {
      transition-duration: 150ms;
      box-shadow: 0 0 24px var(--glow), inset 0 0 24px var(--glow);
      filter: brightness(2);
    }
  }
}

.pitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;

  .date {
    font-size: 2.5rem;
    color: var(--color-accent-red);
    padding-top: 0rem;

    @media screen and (max-width: 720px) {
      padding-top: 1rem;
    }
  }

  .button {
    font-size: 1.75rem;
  }
}

section {
  padding-bottom: var(--section-padding-bottom);
  max-width: var(--max-width);
  margin: auto;

  h2 {
    color: var(--color-off-white);
    font-size: clamp(3rem, 8vw, 4rem);
    border-bottom: 3px solid var(--color-off-white);
    text-shadow: 0 0 48px rgba(255 255 255 / 0.25);
  }
}

#line-up {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 2rem;
    column-gap: 1.5rem;
  }

  .gallery-item {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
    }

    p {
      color: var(--color-artist-text);
    }

    span {
      font-size: 1.25rem;
      line-height: 1;
    }
  }
}

#festivalen {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  h2 {
    text-align: end;
  }

  .content {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 3rem;
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
      grid-template-rows: 300px auto;
      gap: 1rem;
    }
  }

  .picture {
    img {
      object-fit: cover;
      object-position: 25% 65%;
      height: 100%;
      width: 100%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .button {
      margin-left: auto;
      font-size: 1.25rem;
      @media screen and (max-width: 500px) {
        margin-left: 0;
        margin-top: 0.5rem;
        text-align: center;
      }
    }
  }

  .time-and-place {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .info-cards {
    display: flex;
    gap: 0.5rem;
  }

  .info-card {
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
    border-radius: 8px;
    background-color: var(--color-card-bg);

    @media screen and (max-width: 500px) {
      flex: 1;
      padding-inline: 0.75rem;
    }

    p {
      color: var(--color-accent-yellow-light);
    }
  }

  .travel {
    background-color: var(--color-card-bg);
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media screen and (max-width: 500px) {
      padding: 0.75rem;
    }

    .trip {
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 1.125rem;
        color: var(--color-accent-yellow-light);
      }

      div {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      p,
      span {
        color: var(--color-card-text);
      }

      .arrow {
        flex: 1;
        height: 2px;
        background-color: var(--color-card-text);
        position: relative;

        &::after,
        &::before {
          position: absolute;
          content: "";
          width: 6px;
          height: 6px;
          background-color: inherit;
          right: -4px;
          transform: rotate(45deg);
          transform-origin: center;
          border-radius: inherit;
        }
        &::before {
          left: -4px;
        }
      }

      .travel-time {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-card-bg);
        padding: 0 0.5rem;
        border-radius: 100px;
        @media screen and (max-width: 500px) {
          background-color: unset;
          top: 0px;
          font-size: 0.75rem;
        }
      }
    }
  }
}

#om-oss {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  h2 {
    font-size: clamp(2.25rem, 8vw, 4rem);
    @media screen and (max-width: 500px) {
      text-align: center;
    }
  }

  .forest-container {
    background-image: linear-gradient(
        rgba(10 12 17 / 0.82),
        rgba(10 12 17 / 0.6),
        rgba(10 12 17 / 0.82)
      ),
      url("./images/forest-road.jpg");

    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 6rem 2rem;
    text-align: center;
    p {
      margin: auto;
      max-width: 600px;
      text-shadow: 0 0 64px rgba(255 255 255 / 0.75);
    }
  }
}

#kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  @media screen and (max-width: 500px) {
    gap: 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  h2 {
    font-size: clamp(2rem, 8vw, 4rem);
    text-align: center;
    width: 50%;
    max-width: 600px;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    a {
      font-size: 1.25rem;
      text-decoration: underline;
      text-decoration-color: #556677;
    }
  }

  .socials {
    img {
      width: 40px;
    }
  }

  .button {
    @media screen and (max-width: 500px) {
      margin-top: 1rem;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}
