.modal {
  position: fixed;
  inset: 0%;
  height: calc(100% + 100px);
  padding-bottom: 100px;
  background-color: rgba(0 0 0 / 0.5);
  backdrop-filter: blur(8px);
  z-index: 2;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal-inner {
  background-color: rgba(23, 33, 49, 0.9);
  border-radius: 16px;
  max-width: calc(500px + 2rem);
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #2b4267;
  position: relative;

  button {
    all: unset;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 1rem;
  }

  img {
    border-radius: 8px;
  }

  p {
    margin: 1rem 0rem;
    color: #becce1;
  }

  span {
    font-size: 1.75rem;
  }

  .links {
    display: flex;
    gap: 0.5rem;

    img {
      width: 32px;
    }
  }
}
